* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding: 0 calc(50% - 570px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px #ececec;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 13px;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__cart {
    margin-right: 26px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu__link {
    font-size: 14px;
    font-weight: bold;
    color: #222222;
    text-align: left;
    line-height: 26px;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

.promo {
    background-color: #e8e8e8;
}

.promo__content {
    display: flex;
    align-items: center;
    height: 614px;
   background-image: url(img/promo_back.png);
    background-repeat: no-repeat;
    background-position: center -51px;
}

.promo__h1{
font-size: 60px;
font-weight: 900;
color: rgba(34, 34, 34, 1);
text-align: left;
letter-spacing: 0.03em;

}
.promo__h3{
font-size: 40px;
font-weight: 900;
color: rgba(34, 34, 34, 1);
text-align: right;
letter-spacing: 0.03em;
}
.header__browse{
    display: inline-block;
    border: solid 1px;
    border-color: #e6e6e6;
    box-sizing: border-box;
    text-decoration: none;
   color: #222222;
    font-size: 14px;
    font-weight: 300;
   text-align: center;
    padding: 0 15px;
    line-height: 38px;
    border-radius: 3px 0 0 3px;
}
.browse_text{
    background-color: #ffffff;
    width: 317px;
    height: 35px;
    color: rgb(74, 74, 74);
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    padding-left: 16px;
    padding-right: 54px;
}
button img{
    width: 34px;
    height: 34px;
}
.fatLine{
    background-color:rgba(241, 109, 127, 1);
    width: 12px;
    height: 92px;
    position: relative;
    outline: 1px solid;
    margin: 12px;
}

/*.offers{
    display:grid;
    
    height: 823px;
    width: 1140px;
background-color:yellow;
justify-items: center;
padding: 0 calc(50% - 460px);
}
.gridBig{
    height: 542px;
    width: 560px;
}
.gridBig img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
background-image: url(img/Cat-1.png);
}*/
.category {
display: flex;
justify-content: center;
margin-top: 98px;
padding: 0 calc(50% - 230px);
/*border:1px black solid;*/
}

.bannerText{
    position: absolute;
    padding-top: 26px;
    
}
.bannerText__h3{font-size: 18px;
    font-weight: 900;
    color: rgba(34, 34, 34, 1);
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: white;
    

}
 .bannerText__h1{font-size: 30px;
    font-weight: 900;
    color: rgba(241, 109, 127, 1);
    text-align: left;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: white;
    
}

.catLeft{
    display: block;
    height: fit-content;
    float: left;
    margin-right: 20px;
    padding-left: 230px;
}
.catLeft{
    display: block;
    height: fit-content;
    float: left;
    margin-left: 20px;
    padding-right: 230px;
}
.cat1{
background-image: url(img/Cat-1.png);
height: 542px;
width: 560px;
position: relative;
background-repeat: no-repeat;
background-position: center;
margin-left: 20px;
margin-bottom: 20px;
}
.cat2{
    background-image: url(img/Cat-2.png);
    height: 261px;
    width: 560px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 20px;
    margin-bottom: 20px;
}
.cat3{
    background-image: url(img/Cat-3.png);
    height: 261px;
    width: 560px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    }
.cat4{
background-image: url(img/Cat-4.png);
height: 542px;
width: 560px;
background-repeat: no-repeat;
background-position: center;
background-repeat: no-repeat;
background-position: center;
margin-left: 20px;
margin-bottom: 20px;
}
.product{
margin-top: 98px;
padding: 0 calc(50% - 460px);}

.productCard{
    float: left;
    display: block;
    width: 261px;
    height: 342px;
    padding-right: 30px;
    
}
.productName{
font-size: 13px;
color: rgba(34, 34, 34, 1);
text-align: left;
text-transform: uppercase;
}
.price{font-size: 16px;
    font-weight: bold;
    color: rgba(241, 109, 127, 1);
    text-align: left;
    text-transform: uppercase;

}
.Product_h1{
    font-size: 30px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 54px;
}
.Product_h3{
color: rgba(159, 159, 159, 1);
text-align: center;
letter-spacing: 0.03em;
line-height: 54px;
}
.items1,
.items2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-between;
    padding-left: 30px;
    }

    .all_browse{
        display: inline-block;
        border: solid 1px;
        border-color: #e6e6e6;
        box-sizing: border-box;
        text-decoration: none;
       color: #222222;
        font-size: 14px;
        font-weight: 300;
       text-align: center;
        padding: 0 15px;
        line-height: 38px;
        border-radius: 3px 0 0 3px;
    }