@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px 0 #ececec;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__cart {
  margin-right: 26px;
}

.logo {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 27px;
}

.logo__img {
  margin-right: 13px;
  width: 59px;
  height: 51px;
}

.otherColor {
  font-size: 27px;
  font-weight: 900;
  color: #f16d7f;
}

.myAccount {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  background-color: #f16d7f;
  height: 38px;
  width: 130px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu__link {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

.menu__list {
  position: relative;
}

.drop {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px #ececec solid;
  display: none;
  top: 52px;
  position: absolute;
}

.drop_last {
  right: 0;
}

.drop_flex {
  width: 234px;
  margin-right: 46px;
}

.drop_button {
  top: 20px;
}

.menu__list:hover .drop {
  display: flex;
}

.drop_flex:last-of-type {
  margin-right: 0;
}

.drop_ul {
  list-style-type: none;
}

.drop_link {
  font-size: 14px;
  color: #646464;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 28px;
}

/*из шаблона, отступы балансировать, убрать по 8ПХ*/
.drop_link:hover {
  color: #f16d7f;
}

.drop_h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 8px;
}

.promo {
  background-color: #e8e8e8;
}

.promo__content {
  display: flex;
  align-items: center;
  height: 614px;
  background-image: url(img/promo_back.png);
  background-repeat: no-repeat;
  background-position: center -51px;
}

.promo__text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.promo__h1 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  line-height: 45px;
  text-align: left;
  letter-spacing: 0.03em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.promo__h3 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 45px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.header__browse {
  display: inline-block;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 0 15px;
  line-height: 38px;
  border-radius: 3px 0 0 3px;
  position: relative;
}

.header__browse .drop {
  display: flex;
}

.browse_text {
  background-color: #ffffff;
  width: 317px;
  height: 35px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  padding-left: 16px;
  padding-right: 54px;
}

.button img {
  width: 34px;
  height: 34px;
}

.category {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  padding: 0 calc(50% - 230px);
}

/*border:1px black solid*/
.bannerText1 {
  position: absolute;
  padding-top: 26px;
}

.bannerText1__h3 {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: white;
}

.bannerText1__h1 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: white;
}

.catLeft {
  display: block;
  height: fit-content;
  float: left;
  margin-right: 20px;
  padding-left: 230px;
}

.catright {
  display: block;
  height: fit-content;
  float: left;
  margin-left: 20px;
  padding-right: 230px;
}

.cat1 {
  background-image: url(img/Cat-1.png);
  height: 542px;
  width: 560px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cat2 {
  background-image: url(img/Cat-2.png);
  height: 261px;
  width: 560px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

.cat3 {
  background-image: url(img/Cat-3.png);
  height: 261px;
  width: 560px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.cat4 {
  background-image: url(img/Cat-4.png);
  height: 542px;
  width: 560px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
  margin-bottom: 20px;
}

.ProductText {
  margin-top: 98px;
  padding: 0 calc(50% - 460px);
}

.product_h1 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 54px;
}

.product_h3 {
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
}

.product {
  width: 263px;
  margin-bottom: 39px;
  position: relative;
}
.product:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.product:hover.product__add {
  display: flex;
}
.product:hover.product__img {
  filter: brightness(50%);
}

.product-box {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__img {
  width: 100%;
}

.product__name {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 17px;
  display: block;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.product__content {
  padding: 19px 14px;
}

.product__add {
  height: 39px;
  width: 123px;
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 97px;
  left: 70px;
}

.product__add:hover {
  box-shadow: 0 0 8px #fff;
}

.all_browse {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #e6e6e6;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #f16d7f;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 0 15px;
  line-height: 38px;
  border-radius: 3px 0 0 3px;
  margin: 0 auto;
}

.all_browse a {
  color: #ffffff;
}

.featureBox {
  padding-top: 113px;
  /*border: 1px solid black*/
  height: 529px;
  width: 1140px;
  display: flex;
}

.banner {
  background-image: url(img/banner1.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
  background-position: center;
}

.details {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 31px;
}

.details_h1 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  text-align: left;
  letter-spacing: 0.03em;
}

.detailsText {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.detailsIcon {
  padding-left: 36px;
  float: left;
}

.descText {
  line-height: 39px;
  padding-left: 115px;
}

.bannerText2_h1 {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
  -webkit-transform: scale(0.89);
  -ms-transform: scale(0.89);
  transform: scale(0.89);
}

.bannerText2_h3 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
  -webkit-transform: scale(0.89);
  -ms-transform: scale(0.89);
  transform: scale(0.89);
}

.bannerText2 {
  padding-top: 146px;
  padding-left: 15px;
}

.subscribe {
  width: 1600px;
  height: 438px;
  background-image: url(img/2196.png), url(img/subscribeBG.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 97px auto 0;
}

.message {
  width: 50%;
  height: 438px;
  padding-top: 123px;
}

.portrait {
  width: fit-content;
  height: fit-content;
  float: left;
}

.portrait img {
  width: 83px;
  height: 83px;
  padding-left: 230px;
}

.messageText p {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  display: block;
  margin: 0;
  letter-spacing: 0.03em;
  width: 425px;
  height: 200px;
  padding-left: 340px;
}

.name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  padding-left: 340px;
}

.place {
  color: #222224;
  font-size: 12px;
  font-weight: 400;
  padding-left: 340px;
}

.pagination {
  width: 1600px;
  bottom: 19px;
  padding-left: 344px;
}

.navLine {
  width: 38px;
  height: 4px;
  display: inline-block;
  background-color: #d6d6d6;
  margin: 5px;
}

.navLine-active {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
}

.navLine:hover {
  background-color: #f16d7f;
}

.newsSubscribe {
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.headlineHead {
  color: #222224;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.headlineText {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  margin: 3px 0 0 0;
  padding-bottom: 35px;
}

input[type=email] {
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  height: 46px;
  width: 334px;
  font-size: 14px;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  padding-left: 28px;
}

input[type=submit] {
  border-radius: 0 23px 23px 0;
  height: 46px;
  width: 104px;
  background-color: #f16d7f;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
}

footer {
  width: 1600px;
  height: 428px;
  display: flex;
  flex-wrap: wrap;
  margin: 109px auto 0;
}

.footerContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footerText {
  width: 50%;
}

.footerMenu {
  width: 50%;
}

.footerInf {
  height: 204px;
  width: 430px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.footerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 62px;
}

.Company_h4, .shopCat_h4, .inform_h4 {
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 26px;
  padding-left: -5px;
  text-transform: uppercase;
}

.company li {
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 42px;
  list-style-type: none;
  text-transform: capitalize;
}

.company li > a {
  color: #898989;
}

.inform li > a {
  color: #898989;
}

.shopCat li > a {
  color: #898989;
}

.inform {
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 42px;
  list-style-type: none;
  text-transform: capitalize;
}

.shopCat {
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 42px;
  list-style-type: none;
  text-transform: capitalize;
}

.company li:first-child {
  line-height: 59px;
}

.inform li:first-child {
  line-height: 59px;
}

.shopCat li:first-child {
  line-height: 59px;
}

.rights {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  width: 1600px;
  height: 79px;
  font-size: 16px;
  color: #7a7a7a;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.footer_h6 {
  font-size: 16px;
  color: #7a7a7a;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 42px;
}

.socNet {
  width: 50%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.icon {
  font-size: 48px;
}

.announce {
  width: 100%;
  height: 148px;
  display: flex;
  background-color: #f8f3f4;
}

.ad, .crumbs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
}

.breadCrumbs {
  margin: 0;
  padding: 0;
}

.breadCrumbs li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
}

.breadCrumbs li a {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
}

.breadCrumbs li::before {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
}

.breadCrumbs li:first-child::before {
  content: "";
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::after {
  font-family: FontAwesome, serif;
  content: "";
  margin-left: 8px;
  width: 10px;
}

details[open] summary::after {
  font-family: FontAwesome, serif;
  content: "";
  margin-left: 8px;
  width: 10px;
}

.browseList, .catList {
  list-style-type: none;
}

.catSumm {
  padding-left: 11px;
  border-left: 5px #ef5b70 solid;
  border-bottom: 1px #ebebeb solid;
  width: 243px;
  height: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #ef5b70;
  text-transform: uppercase;
}

.catList li a {
  font-size: 14px;
  color: #6f6e6e;
  text-align: left;
  line-height: 33px;
}

/*# sourceMappingURL=style.css.map */
